.googlelogo {
    display: block;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.searchbox {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 26px;
    width: 582px;
    height: 44px;
    border-radius: 24px;
    border: 1px solid rgb(216, 214, 214);
}
.searchbox:hover {
    box-shadow: 0px 0px 6px rgb(192, 192, 192);
}

input {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 498px;
    height: 42px;
    border: none;
    outline: none;
}
.searchicon, .material-icons {
    align-items: center;
    position: fixed;
    margin-top: 10px;
    margin-left: 15px;
    color: rgb(156, 154, 154);
    font-size: 20px;
    width: 20px;
    height: 20px;
}
    

button {
    color:rgb(77, 77, 77);
    background-color:#f8f9fa;
    min-width: 54px;
    height: 36px;
    padding: 0 12px;
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 0.5rem;
    
}
button:hover {
    border-color: rgb(216, 214, 214);
    box-shadow: 0px 1px 2px rgb(190, 190, 190);
    cursor:-webkit-grab;
}
.centerbuttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute; 
    right: 20px;
    top: 18px;
    
}

.navitems {
    display: inline;
}
.navtext {
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    font-family: arial;
    font-size: 14px;
    padding: 5px;
}

#appsmenu {
    margin-top: 10px;
    display: inline;
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    font-family: arial;
    font-size: 14px;
    padding: 5px;
    
}
